<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>priority-test</title>
</head>
    <h1>body-image-tag-Test</h1>
    <p>[`image${1 | 2 | 3 | 4}`='low' | 'high' | 'auto']でクエリーを設定してください</p>
    <p style="word-break: auto-phrase;">e.g. /body-image-tag?image1=low&image2=high&image4=hogehoge の場合、image1=low, image2=high, image3=auto, image4=auto になります</p>
        <!-- 画像のフェッチ優先度を設定するフォーム -->
        <form action="/body-image-tag" method="get" id="body-image-tag-form">
          <label for="image1">image1:</label>
          <select name="image1" id="image1">
            <option value="auto">auto</option>
              <option value="low">low</option>
              <option value="high">high</option>
          </select>
  
          <label for="image2">image2:</label>
          <select name="image2" id="image2">
            <option value="auto">auto</option>
              <option value="low">low</option>
              <option value="high">high</option>
          </select>
  
          <label for="image3">image3:</label>
          <select name="image3" id="image3">
            <option value="auto">auto</option>
              <option value="low">low</option>
              <option value="high">high</option>
          </select>
  
          <label for="image4">image4:</label>
          <select name="image4" id="image4">
            <option value="auto">auto</option>
              <option value="low">low</option>
              <option value="high">high</option>
          </select>
  
          <input type="submit" value="フェッチ優先度を設定">
      </form>
    <!-- ここに他のHTMLコンテンツを追加 -->
    <div id="settings">
      <p>現在の設定:</p>
      <p>image1: <%= image1 %></p>
      <p>image2: <%= image2 %></p>
      <p>image3: <%= image3 %></p>
      <p>image4: <%= image4 %></p>
    </div>
    <div id="imgs">
      <img src="/image1.jpg" alt="image1" fetchpriority="<%= image1 %>">
      <img src="/image2.jpg" alt="image2" fetchpriority="<%= image2 %>">
      <img src="/image3.jpg" alt="image3" fetchpriority="<%= image3 %>">
      <img src="/image4.jpg" alt="image4" fetchpriority="<%= image4 %>">
    </div>
</body>
</html>