<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="preload" imagesrcset="<%= image1Path %>" as="image" fetchpriority="<%= image1Priority %>">
    <link rel="preload" imagesrcset="<%= image2Path %>" as="image" fetchpriority="<%= image2Priority %>">
    <link rel="preload" imagesrcset="<%= image3Path %>" as="image" fetchpriority="<%= image3Priority %>">
    <link rel="preload" imagesrcset="<%= image4Path %>" as="image" fetchpriority="<%= image4Priority %>">
    <title>priority-test</title>
    <style>
    /* 画像のスタイル設定 */
    #imgs  {
      display: grid;
      grid-template-columns: repeat(2, 500px); /* 2列のグリッドレイアウト */
      grid-template-rows: repeat(2, 500px); /* 2行のグリッドレイアウト */
      gap: 10px; /* グリッド間のギャップ */
    }

    #imgs .img-container {
      position: relative;
      width: 500px;
      height: 500px;
    }

    #imgs .img-container img {
      width: 100%;
      height: 100%;
      object-fit: contain; /* 画像のアスペクト比を保持しつつ、指定されたサイズに合わせる */
      border: 1px solid black; /* 枠線を追加 */
    }

    #imgs .img-text {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
      padding: 5px;
    }
  </style>
</head>
<body>
  <h1>preload-image-tag-Test</h1>
  <div id="description">
  <p>[same-image=`image${1 | 2 | 3 | 4}`]でクエリーを設定すると、設定した画像を異なるファイル4つで表示します</p>
  <p>[`image${1 | 2 | 3 | 4}`='low' | 'high' | 'auto']で優先度クエリーを設定してください</p>
  <p style="word-break: auto-phrase;">e.g. /preload-image-tag?image1=low&image2=high&image4=hogehoge の場合、image1=low, image2=high, image3=auto, image4=auto になります</p>
  <div>

  <!-- 画像のフェッチ優先度を設定するフォーム -->
  <div id="redirect-form">
  <form action="/preload-image-tag" method="get" id="preload-image-tag-form">
    <label for="same-image">same-image:</label>
    <select name="same-image" id="same-image">
      <option value="none">none</option>
      <option value="image1" <%= sameImageQuery === 'image1' ? 'selected' : '' %> >image1</option>
      <option value="image2" <%= sameImageQuery === 'image2' ? 'selected' : '' %>>image2</option>
      <option value="image3" <%= sameImageQuery === 'image3' ? 'selected' : '' %>>image3</option>
      <option value="image4" <%= sameImageQuery === 'image4' ? 'selected' : '' %>>image4</option>
    </select>
    <label for="image1">image1:</label>
    <select name="image1" id="image1">
      <option value="auto">auto</option>
      <option value="low" <%= image1Priority === 'low' ? 'selected' : '' %> >low</option>
      <option value="high" <%= image1Priority === 'high' ? 'selected' : '' %>>high</option>
    </select>

    <label for="image2">image2:</label>
    <select name="image2" id="image2">
      <option value="auto">auto</option>
      <option value="low" <%= image2Priority === 'low' ? 'selected' : '' %> >low</option>
      <option value="high" <%= image2Priority === 'high' ? 'selected' : '' %>>high</option>
    </select>

    <label for="image3">image3:</label>
    <select name="image3" id="image3">
      <option value="auto">auto</option>
      <option value="low" <%= image3Priority === 'low' ? 'selected' : '' %> >low</option>
      <option value="high" <%= image3Priority === 'high' ? 'selected' : '' %>>high</option>
    </select>

    <label for="image4">image4:</label>
    <select name="image4" id="image4">
      <option value="auto">auto</option>
      <option value="low" <%= image4Priority === 'low' ? 'selected' : '' %> >low</option>
      <option value="high" <%= image4Priority === 'high' ? 'selected' : '' %>>high</option>
    </select>

    <input type="submit" value="フェッチ優先度を設定">
  </form>
  </div>
    <div id="imgs">
      <div class="img-container">
        <img src="<%= image1Path %>" alt="image1">
        <div class="img-text">image1(priority: <%= image1Priority %> )</div>
      </div>
      <div class="img-container">
        <img src="<%= image2Path %>" alt="image2">
        <div class="img-text">image2(priority: <%= image2Priority %> )</div>
      </div>
      <div class="img-container">
        <img src="<%= image3Path %>" alt="image3">
        <div class="img-text">image3(priority: <%= image3Priority %> )</div>
      </div>
      <div class="img-container">
        <img src="<%= image4Path %>" alt="image4">
        <div class="img-text">image4(priority: <%= image4Priority %> )</div>
      </div>
    </div>
</body>
</html>